/* src/components/Skills.css */
.skills {
  padding: 50px;
  background-color: #f7f9fc;
  color: #333;
  text-align: left;
}

.skills h2 {
  font-size: 2em;
  color: #333;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skills-list li {
  margin: 10px 20px;
  font-size: 1.1em;
  color: #fff;
  background-color: #00ffea;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s;
}

.skills-list li:hover {
  background-color: #ff00a2;
  transform: scale(1.05);
}
